# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
logs/
db.sqlite3
media/
staticfiles/
local_settings.py

# Django Migrations
**/migrations/
**/migrations/*.pyc
**/migrations/*.py

# Virtual Environments
env/
venv/
ENV/
.venv/
.env/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Pytest
.cache/

# Coverage reports
htmlcov/
.coverage
.tox/

# MyPy
.mypy_cache/

# Pipenv
Pipfile.lock

# Other
*.swp
*.swo
.idea/

data/